# Assignment 3

Given a bank customer, build a neural network-based classifier that can determine whether
they will leave or not in the next 6 months.
Dataset Description: The case study is from an open-source dataset from Kaggle.
The dataset contains 10,000 sample points with 14 distinct features such as
CustomerId, CreditScore, Geography, Gender, Age, Tenure, Balance, etc.

Link to the Kaggle project:
https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling

Perform following steps:

1. Read the dataset.
2. Distinguish the feature and target set and divide the data set into training and test sets.
3. Normalize the train and test data.
4. Initialize and build the model. Identify the points of improvement and implement the same.
5. Print the accuracy score and confusion matrix

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('3-Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Drop irrelevant columns
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
# Convert the categorical variables to numerical values
label_encoder = LabelEncoder()

# Apply Label Encoding on 'Gender' and 'Geography'
df['Gender'] = label_encoder.fit_transform(df['Gender'])  # Female=0, Male=1
df['Geography'] = label_encoder.fit_transform(df['Geography'])  # France=0, Germany=1, Spain=2

In [6]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
# Separate the features and the target variables
X = df.drop('Exited', axis = 1) # Features
Y = df['Exited'] # Target

In [8]:
# Split the dataset into training and testing set
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [9]:
# Normalize the dataset
scaler = StandardScaler()
X_train = scaler.fit_transform(x_train)
X_test = scaler.transform(x_test)
# we use only transform on xtest as it uses the same mean and SD learned from the training set

In [10]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [11]:
model = Sequential()

# First hidden layer with 32 neurons can capture many low-level features.
model.add(Dense(activation='relu', units=32, input_dim=X_train.shape[1]))  # Input layer with more neurons

# The dropout layer helps mitigate overfitting or temporarily deactivating 
# a random subset of neurons during each forward pass in training, 
# forcing the model to learn more robust features.
model.add(Dropout(0.5))  

# ReLU (Rectified Linear Unit) activation function
# Formula: f(x) = max(0,x)

# The second hidden layer with 16 neurons refines the prev. captured features 
# and captures higher-level abstractions.
model.add(Dense(activation='relu', units=16))  # Second hidden layer
model.add(Dense(activation='sigmoid', units=1))  # Output layer for binary classification

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
# During training, the cross-entropy loss function exponentially increases the penalty for wrong outputs 
# to drive the weights and biases more aggressively in the right direction.

/Users/shantanu/Desktop/BE-Lab-Assignments/.venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [12]:
model.fit(X_train, y_train, batch_size=32, epochs=50)

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 927us/step - accuracy: 0.5704 - loss: 0.6786
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8015 - loss: 0.4709
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8071 - loss: 0.4475
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 991us/step - accuracy: 0.8127 - loss: 0.4388
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 620us/step - accuracy: 0.8198 - loss: 0.4259
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 570us/step - accuracy: 0.8264 - loss: 0.4202
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 630us/step - accuracy: 0.8313 - loss: 0.4069
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 528us/step - accuracy: 0.8275 - loss: 0.4114
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 517us/step - accuracy: 0.8278 - loss: 0.4089
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8288 - loss: 0.4043
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8468 - loss: 0.3778
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 898us/step - accuracy: 0.8341 - loss: 0.3972
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 505us/step - accuracy: 0.8419 - loss: 0.3908
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - accuracy: 0.8423 - loss: 0.3887
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 683us/step - accuracy: 0.8448 - loss: 0.3713
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 540us/step - accuracy: 0.8436 - loss: 0.3718
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 520us/step - accuracy: 0.8491 - loss: 0.3738
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 518us/step - accuracy: 0.8470 - loss: 0.3699
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - accuracy: 0.8488 - loss: 0.3764
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 545us/step - accuracy: 0.8529 - loss: 0.3558
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - accuracy: 0.8483 - loss: 0.3684
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.8492 - loss: 0.3750
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 683us/step - accuracy: 0.8543 - loss: 0.3639
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 516us/step - accuracy: 0.8457 - loss: 0.3723
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 523us/step - accuracy: 0.8538 - loss: 0.3600
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 542us/step - accuracy: 0.8494 - loss: 0.3703
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - accuracy: 0.8599 - loss: 0.3527
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 509us/step - accuracy: 0.8512 - loss: 0.3664
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 504us/step - accuracy: 0.8530 - loss: 0.3626
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 730us/step - accuracy: 0.8557 - loss: 0.3568
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 535us/step - accuracy: 0.8471 - loss: 0.3734
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 551us/step - accuracy: 0.8634 - loss: 0.3431
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - accuracy: 0.8489 - loss: 0.3609
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 538us/step - accuracy: 0.8513 - loss: 0.3640
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 591us/step - accuracy: 0.8621 - loss: 0.3491
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - accuracy: 0.8589 - loss: 0.3511
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 711us/step - accuracy: 0.8511 - loss: 0.3578
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 513us/step - accuracy: 0.8557 - loss: 0.3568
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 511us/step - accuracy: 0.8584 - loss: 0.3486
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 517us/step - accuracy: 0.8557 - loss: 0.3478
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 512us/step - accuracy: 0.8509 - loss: 0.3598
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 672us/step - accuracy: 0.8513 - loss: 0.3669
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 783us/step - accuracy: 0.8471 - loss: 0.3647
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 499us/step - accuracy: 0.8478 - loss: 0.3658
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 737us/step - accuracy: 0.8499 - loss: 0.3661
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 570us/step - accuracy: 0.8529 - loss: 0.3586
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - accuracy: 0.8461 - loss: 0.3663
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 516us/step - accuracy: 0.8617 - loss: 0.3466
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 526us/step - accuracy: 0.8522 - loss: 0.3567
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 520us/step - accuracy: 0.8523 - loss: 0.3591

In [13]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5) # to convert the probabilistic values to True or False
y_pred

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 736us/step

array([[False],
       [ True],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [14]:
from sklearn.metrics import accuracy_score, confusion_matrix
# Calculate accuracy score
accuracy = accuracy_score(y_test, y_pred)

# Print confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)

# Print the results
print("Accuracy Score:", accuracy)
print("Confusion Matrix:\n", conf_matrix)

Accuracy Score: 0.8475
Confusion Matrix:
 [[1552   21]
 [ 284  143]]